*.pyc
runs/
*.npz
*.pt
*.pth
*.bag
*.tfevents*
*.egg-info/
build/
docs/
IsaacGym*/
*pycache*/

*/__pycache__/
aerial_gym/saved/
aerial_gym/scripts/saved/
aerial_gym/exp_vae/
aerial_gym/exp_vae_320/
aerial_gym/vae_racing/
aerial_gym/control_data*/
sgm/build/
sgm/externals/
