<?xml version='1.0' encoding='UTF-8'?>
<robot name="geom_hollow_cuboid">
  <link name="base">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.20968412 1.07388198 0.17962074"/>
      </geometry>
      <material name="color[1.0, 1.0, 1.0, 1.0]"/>
      <origin xyz="0.0 0.0 0.4216369390487671" rpy="0.0 0.0 0.0"/>
    </visual>
    <visual>
      <geometry>
        <box size="0.20968412 1.07388198 0.17962074"/>
      </geometry>
      <material name="color[1.0, 1.0, 1.0, 1.0]"/>
      <origin xyz="0.0 0.0 -0.4216369390487671" rpy="0.0 0.0 0.0"/>
    </visual>
    <visual>
      <geometry>
        <box size="0.20968412 0.22122556 1.02289462"/>
      </geometry>
      <material name="color[1.0, 1.0, 1.0, 1.0]"/>
      <origin xyz="0.0 0.42632821202278137 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <visual>
      <geometry>
        <box size="0.20968412 0.22122556 1.02289462"/>
      </geometry>
      <material name="color[1.0, 1.0, 1.0, 1.0]"/>
      <origin xyz="0.0 -0.42632821202278137 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.20968412 1.07388198 0.17962074"/>
      </geometry>
      <origin xyz="0.0 0.0 0.4216369390487671" rpy="0.0 0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.20968412 1.07388198 0.17962074"/>
      </geometry>
      <origin xyz="0.0 0.0 -0.4216369390487671" rpy="0.0 0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.20968412 0.22122556 1.02289462"/>
      </geometry>
      <origin xyz="0.0 0.42632821202278137 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.20968412 0.22122556 1.02289462"/>
      </geometry>
      <origin xyz="0.0 -0.42632821202278137 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <material name="color[1.0, 1.0, 1.0, 1.0]">
    <color rgba="1. 1. 1. 1."/>
  </material>
</robot>
